<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://github.com/arup-group/AINoise_iosDownload/releases/download/ipaAINoiseConference/AINoise.ipa</string>
		<key>displayImageURL</key>
		<string>https://github.com/arup-group/AINoise_iosDownload/blob/6d39bc3ff76463f193f70808bb934e7a0f66027c/icon.png</string>
		<key>fullSizeImageURL</key>
		<string>https://github.com/arup-group/AINoise_iosDownload/blob/6d39bc3ff76463f193f70808bb934e7a0f66027c/icon.png</string>
	</dict>
	<key>method</key>
	<string>enterprise</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.arup.pme-recognition</key>
		<string>Arup PME Recognition profile</string>
	</dict>
	<key>signingCertificate</key>
	<string>Apple Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>9RCL4TRUVG</string>
	<key>thinning</key>
	<string>&lt;thin-for-all-variants&gt;</string>
</dict>
</plist>
