<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AINoise.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2A9AA8872CCA11AF4A0F97D5150D3D8BB827EE01</string>
				<key>dateExpires</key>
				<string>2028/8/6</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>6.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A9AA8872CCA11AF4A0F97D5150D3D8BB827EE01</string>
						<key>dateExpires</key>
						<string>2028/8/6</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ffmpegkit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9RCL4TRUVG</string>
						<key>name</key>
						<string>Arup</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A9AA8872CCA11AF4A0F97D5150D3D8BB827EE01</string>
						<key>dateExpires</key>
						<string>2028/8/6</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9RCL4TRUVG</string>
						<key>name</key>
						<string>Arup</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>60.3.100</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A9AA8872CCA11AF4A0F97D5150D3D8BB827EE01</string>
						<key>dateExpires</key>
						<string>2028/8/6</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>libavcodec.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9RCL4TRUVG</string>
						<key>name</key>
						<string>Arup</string>
					</dict>
					<key>versionNumber</key>
					<string>60.3.100</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>60.1.100</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A9AA8872CCA11AF4A0F97D5150D3D8BB827EE01</string>
						<key>dateExpires</key>
						<string>2028/8/6</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>libavdevice.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9RCL4TRUVG</string>
						<key>name</key>
						<string>Arup</string>
					</dict>
					<key>versionNumber</key>
					<string>60.1.100</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>9.3.100</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A9AA8872CCA11AF4A0F97D5150D3D8BB827EE01</string>
						<key>dateExpires</key>
						<string>2028/8/6</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>libavfilter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9RCL4TRUVG</string>
						<key>name</key>
						<string>Arup</string>
					</dict>
					<key>versionNumber</key>
					<string>9.3.100</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>60.3.100</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A9AA8872CCA11AF4A0F97D5150D3D8BB827EE01</string>
						<key>dateExpires</key>
						<string>2028/8/6</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>libavformat.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9RCL4TRUVG</string>
						<key>name</key>
						<string>Arup</string>
					</dict>
					<key>versionNumber</key>
					<string>60.3.100</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>58.2.100</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A9AA8872CCA11AF4A0F97D5150D3D8BB827EE01</string>
						<key>dateExpires</key>
						<string>2028/8/6</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>libavutil.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9RCL4TRUVG</string>
						<key>name</key>
						<string>Arup</string>
					</dict>
					<key>versionNumber</key>
					<string>58.2.100</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>4.10.100</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A9AA8872CCA11AF4A0F97D5150D3D8BB827EE01</string>
						<key>dateExpires</key>
						<string>2028/8/6</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>libswresample.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9RCL4TRUVG</string>
						<key>name</key>
						<string>Arup</string>
					</dict>
					<key>versionNumber</key>
					<string>4.10.100</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>7.1.100</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2A9AA8872CCA11AF4A0F97D5150D3D8BB827EE01</string>
						<key>dateExpires</key>
						<string>2028/8/6</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>libswscale.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9RCL4TRUVG</string>
						<key>name</key>
						<string>Arup</string>
					</dict>
					<key>versionNumber</key>
					<string>7.1.100</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9RCL4TRUVG.com.arup.pme-recognition-conference-mode</string>
				<key>com.apple.developer.team-identifier</key>
				<string>9RCL4TRUVG</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>AINoise.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e61f1fc4-d614-465a-a2e1-7543c98d0b4a</string>
				<key>dateExpires</key>
				<string>2027/1/8</string>
				<key>name</key>
				<string>Arup PME Recognition Conference Mode profile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9RCL4TRUVG</string>
				<key>name</key>
				<string>Arup</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
