<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://github.com/arup-group/AINoise_iosDownload/blob/fa3648db1066fc95a49f050d375e5c761d362a9a/AINoise%202024-03-27%2015-05-50/AINoise.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>https://github.com/arup-group/AINoise_iosDownload/blob/fa3648db1066fc95a49f050d375e5c761d362a9a/icon.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>https://github.com/arup-group/AINoise_iosDownload/blob/fa3648db1066fc95a49f050d375e5c761d362a9a/icon.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.arup.digitalsg.kvmrt3</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>ArupREAL</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>